.page {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.game {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  &__area {
    width: 50vh;
    height: 50vh;
    background: black;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 5px;
  }
  &__field {
    background: white;
    display: flex;
    align-items: center;
  }
  &__field p {
    font-size: 7vh;
    padding: 0;
    margin: 0;
    width: 100%;
    text-align: center;
  }
  &__reset {
    padding: 10px;
    background: yellowgreen;
  }
}
.comb {
  background: green;
}
